[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
.post {
    max-width: 720px;
    margin: 25px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, .35);
}
.post-img img{
    max-width: 56px;
    width: 100%;
}
.post-description {
    padding-left: 10px;
}