<!doctype html>
<html class="no-js" lang="" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body ng-controller="videoController">
    <div class="container">
        <h1>Frontend developer challenge</h1>
        <form>
            <div class="form-group">
                <label for="numberResults">Display by:</label>
                <select class="form-control" name="numberResults" ng-model="numberResults" value="10">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                </select>
            </div>

            <div class="form-group">
                <label for="usr"> Filter videos based on text in the description:</label>
                <input class="form-control" type="text" name="descriptionFilter" value="" ng-model="descriptionFilter">
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label><input type="checkbox" value="" name="gtTen" ng-modal="gtTen" ng-true-value="true" ng-false-value="false">Filter videos from users that have more than 10 likes</label>
                </div>
            </div>
        </form>
        <div class="list-posts">
            <div class="row post" ng-repeat="video in videos.data | limitTo : numberResults | filter : {description: descriptionFilter}  ">
                <div class="post-img col-xs-1 col-lg-1">
                    <a ng-href="{{ video.user.link }}">
                        <img ng-src="{{ video.user.pictures.sizes[3].link }}" alt="{{ video.user.name }}" title="{{ video.user.name }}">
                    </a>
                </div>
                <div class="post-description col-xs-11 col-lg-11">
                    <a ng-href="{{ video.link }}">
                        {{ video.name }}
                    </a>
                    <!-- Display Description -->
                    <p> {{ video.description | limitTo : 150}} </p>
                    <!-- Display number of plays -->
                    <b> Number of play:  {{ video.stats.plays }}</b>
                    <!-- Display number of comments -->
                    <b> Number of comment:  {{ video.metadata.connections.comments.total }}</b>
                    <!-- Display number of likes -->
                    <b> Number of like:  {{ video.metadata.connections.likes.total }}</b>
                </div>
            </div>
        </div>
    </div>
</body>

</html>