<!doctype html>
<html class="no-js" lang="" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Frontend developer challenge</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body ng-controller="videoController">
    <div class="container">
        <h1>Frontend developer challenge</h1>
        <div class="row">
            <form ng-class="classForm" name="myForm" ng-hide="current-page > 1">
                <div class="form-group">
                    <label for="numberResults">Display by:</label>
                    <select class="form-control" ng-model="numberResults" name="numberResults">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="usr"> Filter videos based on text in the description:</label>
                    <input class="form-control" type="text" name="descriptionFilter" value="" placeholder="Description" ng-model="descriptionFilter">
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label><input type="checkbox" value="" name="gtTen" ng-model="gtTen" >Filter videos from users that have more than 10 likes</label>
                    </div>
                </div>
            </form>
            <div ng-class="classListItems">
                <div class="row item" dir-paginate="video in filtered = (videos.data | filter : {description: descriptionFilter}) | itemsPerPage : numberResults | orderBy" 
                                      ng-hide="gtTen === true && {{ video.user.metadata.connections.likes.total < 10 }}">
                    <div class="item-img col-xs-2 col-lg-1">
                        <a ng-href="{{ video.user.link }}">
                            <img ng-src="{{ video.user.pictures.sizes[3].link }}" alt="{{ video.user.name }}" title="{{ video.user.name }}">
                        </a>
                    </div>
                    <div class="item-description col-xs-10 col-lg-11">
                        <a ng-href="{{ video.link }}">
                            <h2>{{ video.name }}</h2>
                        </a>
                        <!-- Display Description -->
                        <p> {{ video.description | limitTo : 200}}<span ng-show="video.description.length > 200">...</span> </p>

                        <div class="wrap">
                            <!-- Display number of plays -->
                            <span class="icon players"><i class="icon-youtube"></i>{{ video.stats.plays === null ? 0 : video.stats.plays | number }}</span>
                            <!-- Display number of comments -->
                            <span class="icon comments"><i class="icon-chat"></i>{{ video.metadata.connections.comments.total === null ? 0 : video.metadata.connections.comments.total | number }}</span>
                            <!-- Display number of likes -->
                            <span class="icon likes"> <i class="icon-like"></i>{{ video.metadata.connections.likes.total === null ? 0 : video.metadata.connections.likes.total | number }}</span>
                        </div>
                    </div>
                </div>
                    <dir-pagination-controls
                    template-url="pagination/dirPagination.tpl.html"
                    on-page-change="hideForm(newPageNumber)" >
                    </dir-pagination-controls>
            </div>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="js/vendor/dirPagination.js"></script>
    <script src="app.js"></script>
</body>

</html>